* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: url("/website/background-1.png");   
    background-repeat: no-repeat; 
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.page {
    margin: 2% 15%;
    min-width: 70%;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 2px;
    padding: 20px 30px;
}

h2 {
    text-align: center;
    font-size: 22pt;
}

h3 {
    font-size: 18pt;
}
h4 {
    font-size: 14pt;
}

h4.subtitle {
    font-size: 14pt;
    color: grey;
    font-style: italic;
}

p {
    font-size: 12pt;
}

ol {
    list-style: decimal;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.code,
code {
	background: rgba(135, 131, 120, 0.15);
	border-radius: 3px;
	padding: 0.2em 0.4em;
	border-radius: 3px;
	font-size: 85%;
	tab-size: 2;
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
    word-wrap: break-word;
    

}

.code {
	padding: 1.5em 1em;

}
.code-wrap {
	white-space: pre-wrap;
	word-break: break-all;
}

.code > code {
	background: none;
	padding: 0;
	font-size: 100%;
	color: inherit;
    word-wrap: normal;
}
.code { 
    font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono", Courier, monospace;
}

img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

img.matplot {
    max-width: 800px;
    display: block;
}

img.medium {
    max-width: 60%;
    display: block;
}

img.large {
    max-width: 80%;
    display: block;
}

.mjx-chtml {
    max-width: 100%;
    overflow-x: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  

.retro-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: #6d00c1; /* Classic green */
    text-shadow: 4px 3px #867f89; /* Red shadow for 3D effect */
    padding: 20px;
    text-align: center;
}

.retro-title:hover {
    animation: color-change 5s infinite;
}
@keyframes color-change {
    0% { color: #f524d3; text-shadow: 5px 3px #b6b6b6; }
    50% { color: #6d00c1; text-shadow: 4px 3px #867f89; }
    100% { color: #f524d3; text-shadow: 5px 3px #b6b6b6; }
}

#caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: center;
    font-weight: bold;
}

#home {
    font-size: 14pt;
    text-align: center;
}

#enhance {
    color: red;
    text-align: center;
    font-style: italic;
}